@media (max-width: 38em) {
  main {
    padding: 2rem 1.5rem;
  }
  .perfume-page {
    max-width: 34rem;

    flex-direction: column;
  }
  .perfume-image {
    width: 100%;
    content: url("../images/image-product-mobile.jpg");
  }
  .perfume-description {
    padding: 2rem 2.8rem;
  }
  .perfume {
    margin-bottom: 1.6rem;
  }
  .perfume-name {
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }
  .perfume-text {
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
  }
  .price-section {
    margin-bottom: 1.8rem;
  }
}
