* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65%;
}
body {
  background-color: #f2ebe3;
  font-family: "Montserrat", sans-serif;
}
.perfume-page {
  max-width: 60rem;
  margin: 12rem auto;
  display: flex;
  border-radius: 11px;
  overflow: hidden;
}

.perfume-image {
  width: 50%;
  height: auto;
}
.perfume-text {
  background-color: #fff;
  padding: 2.8rem;
}
.perfume {
  color: #6c7289;
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin-bottom: 1.8rem;
}
.perfume-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3rem;
  color: #1c232b;
  line-height: 1;
  margin-bottom: 2.4rem;
}
.perfume-description {
  font-size: 1.4rem;
  color: #6c7289;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.price {
  display: flex;
  align-items: center;

  margin-bottom: 3.2rem;
}
.discount-price {
  color: #3c8067;
  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  font-weight: 500;
  margin-right: 2.4rem;
}
.real-price {
  color: #6c7289;
  text-decoration: line-through;
}
.button {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #3c8067;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #1e4034;
}
.icon {
  display: block;
  margin-right: 2rem;
}
